.blogpost-list-div {
    display: flex;
    flex: 4;
    flex-direction: column;

    overflow-y: scroll;

    /* background-color: green; */
}

.blogpost {
    flex: 1;

    padding: 5%;
    margin-bottom: 2%;

    border-radius: 10px;

    background-color: blueviolet;
}
