.dashboard-body {
    /* background-color: bisque; */

    height: 100vh;
}

.layered-div {
    display: flex;
}

/* a class that holds common attributes for every layer */
.vertical-layer {
    /* flex: 1; */

    height: 100vh;
}

.vertical-layer-one {
    flex: 1;

    /* background-color: aqua; */
}

.vertical-layer-two {
    display: flex;
    flex-direction: column;

    flex: 3;
    /* background-color: red; */
}

/* this div houses the divs for text area and button */
.blogpost-text-area-component-div {
    display: flex;
    flex: 1;
    flex-direction: column;

    /* width: 100%; */

    background-color: blue;
}

.blogpost-text-area-div {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;

    /* width: 100%; */

    padding-top: 1%;

    background-color: beige;
}

.blogpost-text-area {
    resize: none;
    width: 95%;
    height: 90%;

    border-radius: 5px;
}

.blogpost-post-button-div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    background-color: bisque;

    padding-right: 2%;
}

.post-button {
    width: 20%;
    height: 80%;
}

.blogpost-list-div {
    display: flex;
    flex: 4;
    flex-direction: column;

    overflow-y: scroll;

    /* background-color: green; */
}

.blogpost {
    flex: 1;

    padding: 5%;
    margin-bottom: 2%;

    border-radius: 10px;

    background-color: blueviolet;
}

.vertical-layer-three {
    flex: 1;
}