.signup-main-body {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: aqua;
}

.signup-panel {
    display: flex;

    flex-direction: column;

    height: 50vh;

    padding: 2%;

    
    border-radius: 10px;

    background-color: white;
}

.signup-panel-title {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;

    /* background-color: red; */
}

.signup-textfields-area {

    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: blanchedalmond; */
}

.signup-textfields {
    width: 20vw;
    height: 3vh;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#signup-usernameTextfield {
    margin-bottom: 5%;
}

#signup-passwordTextfield {
    margin-bottom: 9%;
}

.signup-btn {
    width: 20vw;
    height: 5vh;

    /* margin: auto; */

    border-style: none;
    border-radius: 5px;

    background-color: aqua;
}

